<div class="row" [formGroup]="form">
  <div class="col-12 col-sm-6 col-lg-3">
    <mat-form-field class="mb-2">
      <mat-label>Nome (Letra)</mat-label>
      <input matInput formControlName="name" maxlength="1"/>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <mat-form-field class="mb-2">
      <mat-label>Tipo de ensino</mat-label>
      <mat-select formControlName="typeTeaching" (selectionChange)="selectTeachingChange()">
        <mat-option [value]="null">--</mat-option>
        <mat-option *ngFor="let type of typeTeaching" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <mat-form-field class="mb-2">
      <mat-label>Série</mat-label>
      <mat-select formControlName="series">
        <mat-option [value]="null">--</mat-option>
        <mat-option *ngFor="let type of series" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <div class="col-12 col-sm-6 col-lg-3">
    <mat-form-field class="mb-2">
      <mat-label>Turno</mat-label>
      <mat-select formControlName="typeOpeningHours">
        <mat-option [value]="null">--</mat-option>
        <mat-option *ngFor="let type of typeOpeningHours" [value]="type.id">
          {{ type.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="col-12">
    <div class="d-flex justify-content-end">
      <default-button value="Buscar" icon="search" (clickEvent)="search()"></default-button>
    </div>
  </div>
</div>
