<div class="container mt-5">
  <div class="mx-auto">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4>Escolas</h4>
      </div>
      <div class="d-flex gap-2">
        <div>
          <default-button
            value=""
            icon="search"
            type="secondary"
            (clickEvent)="addFilters()"
          ></default-button>
        </div>
        <div>
          <default-button
            value=""
            icon="add"
            type="primary"
            (clickEvent)="registerSchool()"
          ></default-button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-default mx-auto mt-2">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Bairro</th>
            <th>Qtd. de turmas</th>
            <th>Qtd. de alunos</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Escola Estadual Frei Egídio Parisi</td>
            <td>Segismundo Pereira</td>
            <td>15</td>
            <td>400</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
