<div class="container mt-5">
  <div class="mx-auto">
    <div class="d-flex justify-content-between align-items-center">
      <div>
        <h4>Escolas</h4>
      </div>
      <div class="d-flex gap-2">
        <div class="d-flex gap-2">
          <mat-form-field class="mb-2" *ngIf="showFilter">
            <mat-label>Nome</mat-label>
            <input matInput [formControl]="filter"/>
          </mat-form-field>
          <default-button
            value=""
            icon="search"
            type="secondary"
            (clickEvent)="addFilters()"
          ></default-button>
        </div>
        <div>
          <default-button
            value=""
            icon="add"
            type="primary"
            (clickEvent)="registerSchool()"
          ></default-button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-default mx-auto mt-2">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Bairro</th>
            <th>Tipo instituição</th>
            <th>Diretor</th>
            <th class="text-center">Ações</th>
          </tr>
        </thead>
        <tbody>
          <ng-container *ngIf="schools.length && statusList == ENUM_STATUS_LIST.IDLE">
            <tr *ngFor="let school of schools">
              <td>{{ school.name }}</td>
              <td>{{ school.location.neighborhood }}</td>
              <td>{{ formatSchoolType(school.typeInstitution) }}</td>
              <td>{{ school.directorName }}</td>
              <td>
                <div class="d-flex gap-2 justify-content-center">
                  <default-button icon="visibility" type="secondary" (clickEvent)="viewSchool(school.id)"></default-button>
                  <default-button icon="edit" (clickEvent)="editSchool(school.id)"></default-button>
                  <default-button icon="delete" type="cancel" (clickEvent)="deleteSchool(school.id)"></default-button>
                </div>
              </td>
            </tr>
          </ng-container>
        </tbody>
      </table>
      <ng-container *ngIf="statusList === ENUM_STATUS_LIST.NOTFOUND">
        <div class="p-5 d-flex w-100 justify-content-center">
          <span>Não foram encontrados registros</span>
        </div>
      </ng-container>
      <ng-container *ngIf="statusList === ENUM_STATUS_LIST.ERROR">
        <div class="p-5 d-flex w-100 justify-content-center">
          <span>Houve um problema ao realizar a consulta, tente novamente mais tarde</span>
        </div>
      </ng-container>
    </div>
  </div>
</div>
