<div class="container mt-5">
  <div class="mx-auto">
    <div class="d-flex justify-content-end align-items-center">
      <div class="d-flex">
        <div>
          <default-button
            value="Cadastrar escola"
            type="secondary"
            (click)="registerSchool()"
          ></default-button>
        </div>
      </div>
    </div>
  </div>

  <div class="card-default mx-auto mt-3">
    <div class="table-container">
      <table>
        <thead>
          <tr>
            <th>Nome</th>
            <th>Bairro</th>
            <th>Qtd. de turmas</th>
            <th>Qtd. de alunos</th>
            <th>Ações</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Escola Estadual Frei Egídio Parisi</td>
            <td>Segismundo Pereira</td>
            <td>15</td>
            <td>400</td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
